@import "./static/css/global";

page {
  width: rpx(750);
  height: 100%;
  box-sizing: border-box;
  background-color: #f8f8f8;
  position: relative;
  font-family: "PingFang SC", '萍方-简', '微软雅黑';
}

view, scroll-view, swiper, movable-view, cover-view, text, icon, rich-text,
progress, button, checkbox-group, checkbox, form, input, label, picker,
picker-view, radio-group, radio, slider, switch, textarea, navigator, audio,
image, video, camera, live-player, live-pusher, map {
  box-sizing: border-box;
}

